main-menu {
    margin: auto;
}

main-menu li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

#headshot {
    width: 20vw;
    height: 20vw;
}

.container {
    display: flex;
}

.child {
    flex: auto;
}

footer h3 {
    margin-bottom: 0.5em;
}

footer #my-work-links {
    margin-left: 3;
}

footer img {
    height: 20;
    margin-right: 10;
}