body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.main {
    flex: 1 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

main-menu .container {
    display: flex;
}

main-menu .child {
    flex: auto;
    text-align: center;
}

main-menu .current {
    color: red;
}

#headshot {
    width: 15vw;
    height: 15vw;
    min-height: 100px;
    min-width: 100px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vw;
    display: block;
}

custom-footer {
    padding: 20px;
    background-color: #b6c3e6;
    flex-shrink: 0;
}

custom-footer h3 {
    margin-bottom: 0.5em;
}

custom-footer #my-work-links {
    margin-left: 3;
}

custom-footer img {
    height: 20;
    margin-right: 10;
}

custom-footer p {
    font-size: x-small;
}