body {
    font-family: Oswald;
    background-color: rgba(169,169,169,0.8);
}
.navbar {
    text-transform: uppercase;
    position: sticky;
    padding-left: 20;
    padding-top: 10;
    letter-spacing: 2;
    top: 0;
    background-color: rgba(184,184,184,1);
    padding-bottom: 10;
}
.main {
    background-image: url("images/Harbor%20Depths.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding-left: 20;
}
.title {
    padding-top: 200;
    font-size: 80;
    margin: 10;
}
.other {
    font-family: open sans;
    font-size: 16;
    font-weight: 300;
    margin: 10;
}
.start {
    font-size: 40;
    margin: 10;
}
h1 {
    padding-top: 70;
    margin: 10;
    font-weight: 400;
}
h3 {
    font-weight: 600;
}
.page {
    padding-left: 20;
    background-color: rgba(255,255,255,0.55);
    padding-bottom: 20%;
}
img {
    height: 150;
    float: left;
    margin-right: 15;
    margin-bottom: 10;
}
.imggroup {
    padding-bottom: 60;
}