body {
    font-family: Oswald;
}
.navbar {
    text-transform: uppercase;
}
.main {
    background-image: url("images/Harbor%20Depths.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    color: white;
}