body {
    font-family: Oswald;
    background-color: rgba(169,169,169,1);
}
.navbar {
    text-transform: uppercase;
    position: fixed;
    padding-left: 20;
    padding-top: 10;
    letter-spacing: 2;
}
.main {
    background-image: url("images/Harbor%20Depths.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding-left: 20;
}
.title {
    padding-top: 200;
    font-size: 80;
}
.other {
    font-family: open sans;
    font-size: 16;
    font-weight: 300;
}
.start {
    font-size: 40;
    padding-bottom: 40;
}